@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

/// @group backgrounds
:where(.dot) {
  --#{variables.$prefix}dot-color-fore: oklch(
    from var(--#{variables.$prefix}color-default-dot-fore) l c h / 0.5
  );
  --#{variables.$prefix}dot-color-back: var(
    --#{variables.$prefix}color-default-dot-back
  );
  --#{variables.$prefix}dot-size: 20%;

  @include mixins.base();
  background-color: var(--#{variables.$prefix}dot-color-back);
  background-image:
    radial-gradient(
      var(--#{variables.$prefix}dot-color-fore)
        var(--#{variables.$prefix}dot-size),
      transparent calc(var(--#{variables.$prefix}dot-size) + 3%)
    ),
    radial-gradient(
      var(--#{variables.$prefix}dot-color-fore)
        var(--#{variables.$prefix}dot-size),
      transparent calc(var(--#{variables.$prefix}dot-size) + 3%)
    );
  background-position:
    0 0,
    1rem 1rem;
  background-repeat: repeat;
  background-size: 2rem 2rem;

  &.is-coin {
    --#{variables.$prefix}dot-size: 30%;
  }

  &.is-polka {
    --#{variables.$prefix}dot-size: 20%;
  }

  &.is-pin {
    --#{variables.$prefix}dot-size: 10%;
  }

  @if (variables.$output-color-class) {
    @each $color in variables.$colors {
      &.is-#{$color} {
        --#{variables.$prefix}dot-color-fore: oklch(
          from var(--#{variables.$prefix}color-#{$color}-dot-fore) l c h / 0.5
        );
        --#{variables.$prefix}dot-color-back: var(
          --#{variables.$prefix}color-#{$color}-dot-back
        );
      }
    }
  }
}
