@use "sass:string";

/// @parameter {Number} $num
/// @parameter {Number} $length
/// @return {String}
/// @group functions
@function zeroPadding($num, $length) {
  $numString: #{$num};
  $numLength: string.length($numString);

  @while $numLength < $length {
    $numString: "0" + $numString;
    $numLength: string.length($numString);
  }

  @return $numString;
}

/// replace string
/// @parameter {string} $str
/// @parameter {Number} $substr
/// @parameter {Number} $newsubstr
/// @parameter {boolean} $all [false]
/// @return {String}
/// @group functions
@function strReplace($str, $substr, $newsubstr, $all: false) {
  $pos: string.index($str, $substr);

  @while $pos != null {
    $strlen: string.length($substr);
    $start: string.slice($str, 0, $pos - 1);
    $end: string.slice($str, $pos + $strlen);
    $str: $start + $newsubstr + $end;

    @if $all == true {
      $pos: string.index($str, $substr);
    } @else {
      $pos: null;
    }
  }
  @return $str;
}

/// @parameter {Number} $num
/// @return {String}
/// @group functions
@function lightnessNumberToString($num) {
  @if ($num <= 50) {
    @return "050";
  }

  @if ($num >= 950) {
    @return "950";
  }

  @return zeroPadding($num, 3);
}
