
/// @type List
/// @group variables
$borderSides: (
  "top",
  "right",
  "bottom",
  "left",
);

/// @type List
/// @group variables
$borderStyles: (
  "solid",
  "dashed",
  "dotted",
);

/// @type List
/// @group variables
$borderWidths: (
  "xthin",
  "thin",
  "medium",
  "thick",
  "xthick",
);

/// @type List
/// @group variables
$borderRadiuses: (
  "small",
  "medium",
  "large",
  "circle",
  "pill",
);
