$borderSides: (
  "top",
  "right",
  "bottom",
  "left",
);

$borderStyles: (
  "solid",
  "dashed",
  "dotted",
);

$borderWidths: (
  "xthin",
  "thin",
  "medium",
  "thick",
  "xthick",
);

$borderRadiuses: (
  "small",
  "medium",
  "large",
  "circle",
  "pill",
);
