@use "../mixins/index.scss" as mixins;
@use "../variables/index.scss" as variables;
@use "../icons/index.scss" as icons;

/// @group components
:where(.accordion) {
  --#{variables.$prefix}accordion-color-fore: var(
    --#{variables.$prefix}color-default-accordion-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}accordion-color-back: var(
    --#{variables.$prefix}color-default-accordion-back,
    var(--#{variables.$prefix}color-default-back)
  );
  --#{variables.$prefix}accordion-color-border: var(
    --#{variables.$prefix}color-default-accordion-border,
    var(--#{variables.$prefix}color-default-border)
  );
  --#{variables.$prefix}accordion-selection-color-fore: var(
    --#{variables.$prefix}color-default-accordion-selection-fore,
    var(--#{variables.$prefix}color-default-selection-fore)
  );
  --#{variables.$prefix}accordion-selection-color-back: var(
    --#{variables.$prefix}color-default-accordion-selection-back,
    var(--#{variables.$prefix}color-default-selection-back)
  );

  --#{variables.$prefix}accordion-summary-color-fore: var(
    --#{variables.$prefix}color-default-accordion-summary-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}accordion-summary-color-back: var(
    --#{variables.$prefix}color-default-accordion-summary-back,
    var(--#{variables.$prefix}color-default-back)
  );
  --#{variables.$prefix}accordion-summary-color-border: var(
    --#{variables.$prefix}color-default-accordion-summary-border,
    var(--#{variables.$prefix}color-default-border)
  );
  --#{variables.$prefix}accordion-details-color-fore: var(
    --#{variables.$prefix}color-default-accordion-details-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}accordion-details-color-back: var(
    --#{variables.$prefix}color-default-accordion-details-back,
    var(--#{variables.$prefix}color-default-back)
  );
  --#{variables.$prefix}accordion-details-color-border: var(
    --#{variables.$prefix}color-default-accordion-details-border,
    var(--#{variables.$prefix}color-default-border)
  );

  --#{variables.$prefix}accordion-summary-focus-color-fore: var(
    --#{variables.$prefix}color-default-accordion-summary-focus-fore,
    var(--#{variables.$prefix}color-default-focus-fore)
  );
  --#{variables.$prefix}accordion-summary-focus-color-back: var(
    --#{variables.$prefix}color-default-accordion-summary-focus-back,
    var(--#{variables.$prefix}color-default-focus-back)
  );
  --#{variables.$prefix}accordion-summary-focus-color-border: var(
    --#{variables.$prefix}color-default-accordion-summary-focus-border,
    var(--#{variables.$prefix}color-default-focus-border)
  );

  --#{variables.$prefix}accordion-summary-hover-color-fore: var(
    --#{variables.$prefix}color-default-accordion-summary-hover-fore,
    var(--#{variables.$prefix}color-default-hover-fore)
  );
  --#{variables.$prefix}accordion-summary-hover-color-back: var(
    --#{variables.$prefix}color-default-accordion-summary-hover-back,
    var(--#{variables.$prefix}color-default-hover-back)
  );
  --#{variables.$prefix}accordion-summary-hover-color-border: var(
    --#{variables.$prefix}color-default-accordion-summary-hover-border,
    var(--#{variables.$prefix}color-default-hover-border)
  );

  --#{variables.$prefix}accordion-summary-active-color-fore: var(
    --#{variables.$prefix}color-default-accordion-summary-active-fore,
    var(--#{variables.$prefix}color-default-active-fore)
  );
  --#{variables.$prefix}accordion-summary-active-color-back: var(
    --#{variables.$prefix}color-default-accordion-summary-active-back,
    var(--#{variables.$prefix}color-default-active-back)
  );
  --#{variables.$prefix}accordion-summary-active-color-border: var(
    --#{variables.$prefix}color-default-accordion-summary-active-border,
    var(--#{variables.$prefix}color-default-active-border)
  );

  --#{variables.$prefix}accordion-summary-disabled-color-fore: var(
    --#{variables.$prefix}color-default-accordion-summary-disabled-fore,
    var(--#{variables.$prefix}color-default-disabled-fore)
  );
  --#{variables.$prefix}accordion-summary-disabled-color-back: var(
    --#{variables.$prefix}color-default-accordion-summary-disabled-back,
    var(--#{variables.$prefix}color-default-disabled-back)
  );
  --#{variables.$prefix}accordion-summary-disabled-color-border: var(
    --#{variables.$prefix}color-default-accordion-summary-disabled-border,
    var(--#{variables.$prefix}color-default-disabled-border)
  );

  --#{variables.$prefix}accordion-border-width: var(
    --#{variables.$prefix}border-width-thin
  );
  --#{variables.$prefix}accordion-border-radius: var(
    --#{variables.$prefix}border-radius-small
  );
  --#{variables.$prefix}accordion-border-summary-radius: calc(
    var(--#{variables.$prefix}border-radius-small) +
      var(--#{variables.$prefix}accordion-border-width)
  );
  --#{variables.$prefix}accordion-border-details-radius: calc(
    var(--#{variables.$prefix}border-radius-small) +
      var(--#{variables.$prefix}accordion-border-width)
  );

  @include mixins.base();
  color: var(--#{variables.$prefix}accordion-color-fore);
  background-color: var(--#{variables.$prefix}accordion-color-back);
  border-color: var(--#{variables.$prefix}accordion-color-border);
  border-radius: var(--#{variables.$prefix}accordion-border-radius);
  border-style: solid;
  border-width: var(--#{variables.$prefix}accordion-border-width);

  &::selection {
    color: var(--#{variables.$prefix}accordion-selection-color-fore);
    background-color: var(--#{variables.$prefix}accordion-selection-color-back);
  }

  > .accordion-summary {
    @include mixins.base();
    background-color: var(--#{variables.$prefix}accordion-summary-color-back);
    border-color: var(--#{variables.$prefix}accordion-summary-color-border);
    border-radius: var(--#{variables.$prefix}accordion-summary-border-radius);
    color: var(--#{variables.$prefix}accordion-summary-color-fore);
    cursor: pointer;
    display: block;
    padding: 1rem;
    position: relative;
    touch-action: manipulation;
    list-style: none;
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      @include icons.chevron() {
        content: "";
        right: 1rem;
        position: absolute;
        top: calc(50% - 0.25rem);
      }
    }
    &:focus,
    &.is-focus,
    &.is-focused {
      color: var(--#{variables.$prefix}accordion-summary-focus-color-fore);
      background-color: var(
        --#{variables.$prefix}accordion-summary-focus-color-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-focus-color-border
      );
    }
    &:active,
    &.is-active {
      color: var(--#{variables.$prefix}accordion-summary-active-color-fore);
      background-color: var(
        --#{variables.$prefix}accordion-summary-active-color-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-active-color-border
      );
    }
    &:hover,
    &.is-hovered,
    &.is-hovered {
      color: var(--#{variables.$prefix}accordion-summary-hover-color-fore);
      background-color: var(
        --#{variables.$prefix}accordion-summary-hover-color-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-hover-color-border
      );
    }
    &[disabled],
    fieldset[disabled],
    &.is-disabled {
      color: var(--#{variables.$prefix}accordion-summary-disabled-color-fore);
      background-color: var(
        --#{variables.$prefix}accordion-summary-disabled-color-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-disabled-color-border
      );
    }
  }
  > .accordion-details {
    @include mixins.base();
    background-color: var(--#{variables.$prefix}accordion-details-color-back);
    border-radius: 0 0
      var(--#{variables.$prefix}accordion-details-border-radius)
      var(--#{variables.$prefix}accordion-details-border-radius);
    border-color: var(--#{variables.$prefix}accordion-details-color-border);
    color: var(--#{variables.$prefix}accordion-details-color-fore);
    height: 0;
    display: none;
    padding: 1rem;
  }
  &[open],
  is-open {
    > .accordion-summary {
      border-radius: var(--#{variables.$prefix}accordion-summary-border-radius)
        var(--#{variables.$prefix}accordion-summary-border-radius) 0 0;
      &::after {
        transform: rotate(180deg);
      }
    }
    > .accordion-details {
      display: block;
      height: auto;
    }
  }

  @if (variables.$output-color-class) {
    @each $color in variables.$colors {
      &.is-#{$color} {
        --#{variables.$prefix}accordion-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}accordion-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-back,
          var(--#{variables.$prefix}color-#{$color}-back)
        );
        --#{variables.$prefix}accordion-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-border,
          var(--#{variables.$prefix}color-#{$color}-border)
        );
        --#{variables.$prefix}accordion-selection-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-selection-fore,
          var(--#{variables.$prefix}color-#{$color}-selection-fore)
        );
        --#{variables.$prefix}accordion-selection-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-selection-back,
          var(--#{variables.$prefix}color-#{$color}-selection-back)
        );
        --#{variables.$prefix}accordion-summary-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}accordion-summary-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-back,
          var(--#{variables.$prefix}color-#{$color}-back)
        );
        --#{variables.$prefix}accordion-summary-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-border,
          var(--#{variables.$prefix}color-#{$color}-border)
        );
        --#{variables.$prefix}accordion-details-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-details-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}accordion-details-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-details-back,
          var(--#{variables.$prefix}color-#{$color}-back)
        );
        --#{variables.$prefix}accordion-details-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-details-border,
          var(--#{variables.$prefix}color-#{$color}-border)
        );

        --#{variables.$prefix}accordion-summary-focus-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-focus-fore,
          var(--#{variables.$prefix}color-#{$color}-focus-fore)
        );
        --#{variables.$prefix}accordion-summary-focus-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-focus-back,
          var(--#{variables.$prefix}color-#{$color}-focus-back)
        );
        --#{variables.$prefix}accordion-summary-focus-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-focus-border,
          var(--#{variables.$prefix}color-#{$color}-focus-border)
        );

        --#{variables.$prefix}accordion-summary-hover-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-hover-fore,
          var(--#{variables.$prefix}color-#{$color}-hover-fore)
        );
        --#{variables.$prefix}accordion-summary-hover-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-hover-back,
          var(--#{variables.$prefix}color-#{$color}-hover-back)
        );
        --#{variables.$prefix}accordion-summary-hover-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-hover-border,
          var(--#{variables.$prefix}color-#{$color}-hover-border)
        );

        --#{variables.$prefix}accordion-summary-active-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-active-fore,
          var(--#{variables.$prefix}color-#{$color}-active-fore)
        );
        --#{variables.$prefix}accordion-summary-active-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-active-back,
          var(--#{variables.$prefix}color-#{$color}-active-back)
        );
        --#{variables.$prefix}accordion-summary-active-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-active-border,
          var(--#{variables.$prefix}color-#{$color}-active-border)
        );

        --#{variables.$prefix}accordion-summary-disabled-color-fore: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-disabled-fore,
          var(--#{variables.$prefix}color-#{$color}-disabled-fore)
        );
        --#{variables.$prefix}accordion-summary-disabled-color-back: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-disabled-back,
          var(--#{variables.$prefix}color-#{$color}-disabled-back)
        );
        --#{variables.$prefix}accordion-summary-disabled-color-border: var(
          --#{variables.$prefix}color-#{$color}-accordion-summary-disabled-border,
          var(--#{variables.$prefix}color-#{$color}-disabled-border)
        );
      }
    }
  }
}
