@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

@mixin dialog-message-arrow-base() {
  &::after,
  &::before {
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: calc(
      var(--#{variables.$prefix}dialog-message-arrow-height) / 2
    );
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: calc(
      var(--#{variables.$prefix}dialog-message-arrow-height) / 2
    );
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: var(--#{variables.$prefix}dialog-message-arrow-top-offset);
    right: auto;
    width: 0;
    z-index: -1;
  }
}

/// @group components
:where(.dialog) {
  --#{variables.$prefix}dialog-color-fore: var(
    --#{variables.$prefix}color-default-dialog-fore
  );
  --#{variables.$prefix}dialog-color-back: var(
    --#{variables.$prefix}color-default-dialog-back
  );
  --#{variables.$prefix}dialog-color-border: var(
    --#{variables.$prefix}color-default-dialog-border
  );
  --#{variables.$prefix}dialog-selection-color-fore: var(
    --#{variables.$prefix}color-default-dialog-selection-fore,
    var(--#{variables.$prefix}color-default-selection-fore)
  );
  --#{variables.$prefix}dialog-selection-color-back: var(
    --#{variables.$prefix}color-default-dialog-selection-back,
    var(--#{variables.$prefix}color-default-selection-back)
  );

  --#{variables.$prefix}dialog-avatar-color-back: var(
    --#{variables.$prefix}color-default-dialog-back
  );
  --#{variables.$prefix}dialog-avatar-color-border: var(
    --#{variables.$prefix}color-default-dialog-border
  );
  --#{variables.$prefix}dialog-name-color-fore: var(
    --#{variables.$prefix}color-default-dialog-name-fore
  );
  --#{variables.$prefix}dialog-name-color-back: var(
    --#{variables.$prefix}color-default-dialog-name-back
  );
  --#{variables.$prefix}dialog-name-color-border: var(
    --#{variables.$prefix}color-default-dialog-name-border
  );
  --#{variables.$prefix}dialog-message-color-fore: var(
    --#{variables.$prefix}color-default-dialog-message-fore
  );
  --#{variables.$prefix}dialog-message-color-back: var(
    --#{variables.$prefix}color-default-dialog-message-back
  );
  --#{variables.$prefix}dialog-message-color-border: var(
    --#{variables.$prefix}color-default-dialog-message-border
  );

  --#{variables.$prefix}dialog-avatar-size: var(
    --#{variables.$prefix}dialog-avatar-size-default
  );
  --#{variables.$prefix}dialog-border-width: var(
    --#{variables.$prefix}border-width-medium
  );
  --#{variables.$prefix}dialog-border-radius: var(
    --#{variables.$prefix}border-radius-medium
  );
  --#{variables.$prefix}dialog-border-style: solid;
  --#{variables.$prefix}dialog-message-top-offset: calc(
    (
        var(--#{variables.$prefix}dialog-name-padding-y) * 2 +
          var(--#{variables.$prefix}dialog-border-width) * 2 +
          var(--#{variables.$prefix}dialog-name-font-size)
      ) /
      2
  );
  --#{variables.$prefix}dialog-message-arrow-top-offset: calc(
    (-1 * var(--#{variables.$prefix}dialog-message-top-offset)) +
      (-1 * var(--#{variables.$prefix}dialog-border-width)) +
      (-1 * var(--#{variables.$prefix}dialog-message-arrow-height) / 2) +
      var(--#{variables.$prefix}dialog-avatar-top-offset) +
      (var(--#{variables.$prefix}dialog-avatar-size) / 2)
  );

  @include mixins.base();
  display: flex;
  max-width: 100%;
  padding-bottom: var(--#{variables.$prefix}dialog-message-top-offset);
  position: relative;
  width: 100%;

  &::selection {
    color: var(--#{variables.$prefix}dialog-selection-color-fore);
    background-color: var(--#{variables.$prefix}dialog-selection-color-back);
  }

  @if (variables.$output-size-class) {
    &.is-avatar-small {
      --#{variables.$prefix}dialog-avatar-size: var(
        --#{variables.$prefix}dialog-avatar-size-small
      );
    }

    &.is-avatar-large {
      --#{variables.$prefix}dialog-avatar-size: var(
        --#{variables.$prefix}dialog-avatar-size-large
      );
    }
  }

  &.is-avatar-circle {
    --#{variables.$prefix}dialog-message-arrow-top-offset: calc(
      (-1 * var(--#{variables.$prefix}dialog-message-top-offset)) +
        (-1 * var(--#{variables.$prefix}dialog-border-width)) +
        (-1 * var(--#{variables.$prefix}dialog-message-arrow-height) / 2) +
        var(--#{variables.$prefix}dialog-avatar-top-offset) +
        (
          var(--#{variables.$prefix}dialog-avatar-size) +
            var(--#{variables.$prefix}dialog-border-width) * 2
        ) /
        2
    );
    > .dialog-avatar-container {
      > .dialog-avatar {
        border-radius: var(--#{variables.$prefix}border-radius-circle);
      }
    }
  }

  &.avatar-has-border {
    > .dialog-avatar-container {
      > .dialog-avatar {
        border-color: var(--#{variables.$prefix}dialog-avatar-color-border);
        border-style: var(--#{variables.$prefix}dialog-border-style);
        border-width: var(--#{variables.$prefix}dialog-border-width);
      }
    }
  }

  @if (variables.$output-border-width-class) {
    @each $borderWidth in variables.$borderWidths {
      &.is-border-width-#{$borderWidth} {
        --#{variables.$prefix}dialog-border-width: var(
          --#{variables.$prefix}border-width-#{$borderWidth}
        );
      }
    }
  }

  > .dialog-avatar-container,
  > .dialog-content-container {
    @include mixins.base();
    display: block;
    max-width: 100%;
    position: relative;
  }
  > .dialog-avatar-container {
    height: auto;
    flex: 0 0 var(--#{variables.$prefix}dialog-avatar-size);
    padding-top: var(--#{variables.$prefix}dialog-avatar-top-offset);
    > .dialog-avatar {
      @include mixins.base();
      aspect-ratio: 1;
      background-color: var(--#{variables.$prefix}dialog-avatar-color-back);
      color: var(--#{variables.$prefix}dialog-avatar-color-fore);
      display: block;
      align-items: center;
      justify-content: center;
      height: auto;
      width: var(--#{variables.$prefix}dialog-avatar-size);
      margin: 0 auto;
      overflow: hidden;
    }
  }
  > .dialog-content-container {
    flex: 1 1 auto;
    min-height: calc(var(--#{variables.$prefix}dialog-avatar-size) + 1.5rem);
    > .dialog-name,
    > .dialog-message {
      min-height: 1rem;
      border-radius: var(--#{variables.$prefix}border-radius-medium);
      border-style: solid;
      border-width: var(--#{variables.$prefix}dialog-border-width);
    }
    > .dialog-name {
      @include mixins.base();
      background-color: var(--#{variables.$prefix}dialog-name-color-back);
      border-color: var(--#{variables.$prefix}dialog-name-color-border);
      color: var(--#{variables.$prefix}dialog-name-color-fore);
      font-size: var(--#{variables.$prefix}dialog-name-font-size);
      position: absolute;
      top: 0;
      padding: var(--#{variables.$prefix}dialog-name-padding-y)
        var(--#{variables.$prefix}dialog-name-padding-x);
      font-weight: var(--#{variables.$prefix}font-weight-bold);
      z-index: 1;
    }
    > .dialog-message {
      @include mixins.base();
      background-color: var(--#{variables.$prefix}dialog-message-color-back);
      border-color: var(--#{variables.$prefix}dialog-message-color-border);
      color: var(--#{variables.$prefix}dialog-message-color-fore);
      position: relative;
      top: var(--#{variables.$prefix}dialog-message-top-offset);
      padding-top: calc(
        var(--#{variables.$prefix}dialog-message-top-offset) / 2
      );
      width: auto;
      z-index: 0;
      > .dialog-message-inner {
        padding: var(--#{variables.$prefix}dialog-message-inner-padding-y)
          var(--#{variables.$prefix}dialog-message-inner-padding-x);
      }
    }
  }

  &.is-left {
    > .dialog-content-container {
      > .dialog-name {
        right: auto;
        left: var(--#{variables.$prefix}dialog-message-arrow-width);
      }
      padding-left: var(--#{variables.$prefix}dialog-message-arrow-width);
      > .dialog-message {
        right: auto;
        @include dialog-message-arrow-base();
        &::after,
        &::before {
          border-left: none;
          right: auto;
        }
        &::before {
          border-right-color: var(
            --#{variables.$prefix}dialog-message-color-border
          );
          border-right-width: var(
            --#{variables.$prefix}dialog-message-arrow-width
          );
          border-right-style: solid;
          left: calc(
            (-1 * var(--#{variables.$prefix}dialog-message-arrow-width))
          );
        }
        &::after {
          border-right-color: var(
            --#{variables.$prefix}dialog-message-color-back
          );
          border-right-width: var(
            --#{variables.$prefix}dialog-message-arrow-width
          );
          border-right-style: solid;
          left: calc(
            (-1 * var(--#{variables.$prefix}dialog-message-arrow-width)) +
              var(--#{variables.$prefix}dialog-border-width) * 2
          );
        }
      }
    }
  }
  &.is-right {
    > .dialog-content-container {
      padding-right: var(--#{variables.$prefix}dialog-message-arrow-width);
      > .dialog-name {
        left: auto;
        right: var(--#{variables.$prefix}dialog-message-arrow-width);
      }
      > .dialog-message {
        left: auto;
        @include dialog-message-arrow-base();
        &::after,
        &::before {
          border-right: none;
          left: auto;
        }
        &::before {
          border-left-color: var(
            --#{variables.$prefix}dialog-message-color-border
          );
          border-left-width: var(
            --#{variables.$prefix}dialog-message-arrow-width
          );
          border-left-style: solid;
          right: calc(
            (-1 * var(--#{variables.$prefix}dialog-message-arrow-width))
          );
        }
        &::after {
          border-left-color: var(
            --#{variables.$prefix}dialog-message-color-back
          );
          border-left-width: var(
            --#{variables.$prefix}dialog-message-arrow-width
          );
          border-left-style: solid;
          right: calc(
            (-1 * var(--#{variables.$prefix}dialog-message-arrow-width)) +
              var(--#{variables.$prefix}dialog-border-width) * 2
          );
        }
      }
    }
  }

  @if (variables.$output-border-style-class) {
    @each $borderStyle in variables.$borderStyles {
      &.is-border-style-#{$borderStyle} {
        &.avatar-has-border {
          > .dialog-avatar-container {
            > .dialog-avatar {
              border-style: #{$borderStyle};
            }
          }
        }
        > .dialog-content-container {
          > .dialog-name,
          > .dialog-message {
            border-style: #{$borderStyle};
          }
        }
      }
    }
  }

  @if (variables.$output-color-class) {
    @each $color in variables.$colors {
      &.is-#{$color} {
        --#{variables.$prefix}dialog-color-fore: var(
          --#{variables.$prefix}color-#{$color}-dialog-fore
        );
        --#{variables.$prefix}dialog-color-back: var(
          --#{variables.$prefix}color-#{$color}-dialog-back
        );
        --#{variables.$prefix}dialog-color-border: var(
          --#{variables.$prefix}color-#{$color}-dialog-border
        );
        --#{variables.$prefix}dialog-selection-color-fore: var(
          --#{variables.$prefix}color-#{$color}-dialog-selection-fore,
          var(--#{variables.$prefix}color-#{$color}-selection-fore)
        );
        --#{variables.$prefix}dialog-selection-color-back: var(
          --#{variables.$prefix}color-#{$color}-dialog-selection-back,
          var(--#{variables.$prefix}color-#{$color}-selection-back)
        );

        --#{variables.$prefix}dialog-avatar-color-back: var(
          --#{variables.$prefix}color-#{$color}-dialog-back
        );
        --#{variables.$prefix}dialog-avatar-color-border: var(
          --#{variables.$prefix}color-#{$color}-dialog-border
        );
        --#{variables.$prefix}dialog-name-color-fore: var(
          --#{variables.$prefix}color-#{$color}-dialog-name-fore
        );
        --#{variables.$prefix}dialog-name-color-back: var(
          --#{variables.$prefix}color-#{$color}-dialog-name-back
        );
        --#{variables.$prefix}dialog-name-color-border: var(
          --#{variables.$prefix}color-#{$color}-dialog-name-border
        );
        --#{variables.$prefix}dialog-message-color-fore: var(
          --#{variables.$prefix}color-#{$color}-dialog-message-fore
        );
        --#{variables.$prefix}dialog-message-color-back: var(
          --#{variables.$prefix}color-#{$color}-dialog-message-back
        );
        --#{variables.$prefix}dialog-message-color-border: var(
          --#{variables.$prefix}color-#{$color}-dialog-message-border
        );
      }
    }
  }
}
