@use "../mixins/index.scss" as mixins;
@use "../variables/index.scss" as variables;

.header {
  @include mixins.base();
  display: block;
  width: 100%;
  box-shadow: 0 0 0.5rem var(--#{variables.$prefix}color-default-shadow);
  backdrop-filter: var(--#{variables.$prefix}header-backdrop-filter);

  &.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--#{variables.$prefix}header-z-index-is-sticky);
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--#{variables.$prefix}header-z-index-is-fixed);
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      color: var(--#{variables.$prefix}color-#{$color}-fore);
      background-color: oklch(var(--#{variables.$prefix}color-#{$color}-back-oklch) / 0.75);
      box-shadow: 0 0 0.5rem var(--#{variables.$prefix}color-#{$color}-shadow);
    }
  }
}
