@use "../mixins/index.scss" as mixins;
@use "../variables/index.scss" as variables;

.input-checkbox {
  appearance: none;
  border-radius: 25%;
  cursor: pointer;
  height: 1rem;
  line-height: 1.5;
  position: relative;
  vertical-align: middle;
  width: 1rem;
  &:after {
    background-color: transparent;
    border-color: transparent;
    border-radius: 25%;
    border-style: solid;
    border-width: 0 var(--#{variables.$prefix}border-width-medium)
      var(--#{variables.$prefix}border-width-medium) 0;
    content: "";
    display: block;
    height: 1rem;
    left: 0.25rem;
    position: absolute;
    top: -0.33rem;
    transform: rotate(45deg);
    width: 0.5rem;
  }
  &:checked {
    &:after {
      border-color: var(--#{variables.$prefix}color-default-fore);
    }
  }
  &[disabled],
  fieldset[disabled],
  &.is-disabled {
    background-color: var(--#{variables.$prefix}color-default-disabled-back);
    border-color: var(--#{variables.$prefix}color-default-disabled-border);
    &:checked {
      &:after {
        border-color: var(--#{variables.$prefix}color-default-disabled-fore);
      }
    }
  }
  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--#{variables.$prefix}color-#{$color}-back);
      border-color: var(--#{variables.$prefix}color-#{$color}-border);
      &:checked {
        &:after {
          border-color: var(--#{variables.$prefix}color-#{$color}-fore);
        }
      }
      &[disabled],
      fieldset[disabled],
      &.is-disabled {
        background-color: var(
          --#{variables.$prefix}color-#{$color}-disabled-back
        );
        border-color: var(
          --#{variables.$prefix}color-#{$color}-disabled-border
        );
        &:checked {
          &:after {
            border-color: var(
              --#{variables.$prefix}color-#{$color}-disabled-fore
            );
          }
        }
      }
    }
  }
}

.input-radio {
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  line-height: 1.5;
  position: relative;
  vertical-align: middle;
  width: 1rem;
  &:after {
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: var(--#{variables.$prefix}border-width-medium);
    content: "";
    display: block;
    height: 0.5rem;
    left: 0.125rem;
    position: absolute;
    top: 0.125rem;
    width: 0.5rem;
  }
  &:checked {
    &:after {
      background-color: var(--#{variables.$prefix}color-default-fore);
      border-color: var(--#{variables.$prefix}color-default-fore);
    }
  }
  &[disabled],
  fieldset[disabled],
  &.is-disabled {
    background-color: var(--#{variables.$prefix}color-default-disabled-back);
    border-color: var(--#{variables.$prefix}color-default-disabled-border);
    &:checked {
      &:after {
        border-color: var(--#{variables.$prefix}color-default-disabled-fore);
      }
    }
  }
  @each $color in variables.$colors {
    &.is-#{$color} {
      background-color: var(--#{variables.$prefix}color-#{$color}-back);
      border-color: var(--#{variables.$prefix}color-#{$color}-border);
      &:checked {
        &:after {
          border-color: var(--#{variables.$prefix}color-#{$color}-fore);
        }
      }
      &[disabled],
      fieldset[disabled],
      &.is-disabled {
        background-color: var(
          --#{variables.$prefix}color-#{$color}-disabled-back
        );
        border-color: var(
          --#{variables.$prefix}color-#{$color}-disabled-border
        );
        &:checked {
          &:after {
            border-color: var(
              --#{variables.$prefix}color-#{$color}-disabled-fore
            );
          }
        }
      }
    }
  }
}

.input-range {
  appearance: none;
  cursor: pointer;
  border-radius: var(--#{variables.$prefix}border-radius-pill);
  width: 100%;
  height: 1rem;
  padding: 0;
  .input-range-track {
    cursor: pointer;
    background-color: var(--#{variables.$prefix}color-default-back);
  }
  .input-range-thumb {
    appearance: none;
    border-style: solid;
    border-width: 0.1rem;
    background-color: var(--#{variables.$prefix}color-default-border);
    border-radius: var(--#{variables.$prefix}border-radius-circle);
    cursor: pointer;
    width: 2rem;
  }
  &::-webkit-slider-runnable-track {
    @extend .input-range-track;
  }
  &::-moz-range-track {
    @extend .input-range-track;
  }
  &::-webkit-slider-thumb {
    @extend .input-range-thumb;
  }
  &::-moz-range-thumb {
    @extend .input-range-thumb;
  }
  &:focus,
  &.is-focus,
  &.is-focused {
    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
      background-color: var(--#{variables.$prefix}color-default-focus-back);
    }
  }
}

.input-color {
  cursor: pointer;
  height: 2.5rem;
}

/// @group components
:where(.input) {
  --#{variables.$prefix}input-color-fore: var(
    --#{variables.$prefix}color-default-input-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}input-color-back: var(
    --#{variables.$prefix}color-default-input-back,
    var(--#{variables.$prefix}color-default-back)
  );
  --#{variables.$prefix}input-color-border: var(
    --#{variables.$prefix}color-default-input-border,
    var(--#{variables.$prefix}color-default-border)
  );
  --#{variables.$prefix}input-color-placeholder: var(
    --#{variables.$prefix}color-default-input-placeholder,
    var(--#{variables.$prefix}color-default-placeholder)
  );
  --#{variables.$prefix}input-color-outline: var(
    --#{variables.$prefix}color-default-input-outline,
    var(--#{variables.$prefix}color-default-outline)
  );

  --#{variables.$prefix}input-focus-color-fore: var(
    --#{variables.$prefix}color-default-input-focus-fore,
    var(--#{variables.$prefix}color-default-focus-fore)
  );
  --#{variables.$prefix}input-focus-color-back: var(
    --#{variables.$prefix}color-default-input-focus-back,
    var(--#{variables.$prefix}color-default-focus-back)
  );
  --#{variables.$prefix}input-focus-color-border: var(
    --#{variables.$prefix}color-default-input-focus-border,
    var(--#{variables.$prefix}color-default-focus-border)
  );

  --#{variables.$prefix}input-disabled-color-fore: var(
    --#{variables.$prefix}color-default-input-disabled-fore,
    var(--#{variables.$prefix}color-default-disabled-fore)
  );
  --#{variables.$prefix}input-disabled-color-back: var(
    --#{variables.$prefix}color-default-input-disabled-back,
    var(--#{variables.$prefix}color-default-disabled-back)
  );
  --#{variables.$prefix}input-disabled-color-border: var(
    --#{variables.$prefix}color-default-input-disabled-border,
    var(--#{variables.$prefix}color-default-disabled-border)
  );

  --#{variables.$prefix}input-border-width: var(
    --#{variables.$prefix}border-width-medium
  );
  --#{variables.$prefix}input-outline-width: var(
    --#{variables.$prefix}border-width-xthin
  );

  @include mixins.base();
  background-color: var(--#{variables.$prefix}input-color-back);
  border-color: var(--#{variables.$prefix}input-color-border);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: var(--#{variables.$prefix}input-border-width);
  color: var(--#{variables.$prefix}input-color-fore);
  padding: 0.5rem;
  &::placeholder {
    color: var(--#{variables.$prefix}input-color-placeholder);
  }
  &:focus,
  &.is-focus,
  &.is-focused {
    background-color: var(--#{variables.$prefix}input-focus-color-back);
    border-color: var(--#{variables.$prefix}input-focus-color-border);
    color: var(--#{variables.$prefix}input-focus-color-fore);
  }
  &:focus-visible {
    outline-style: solid;
    outline-offset: calc(
      (-1 * var(--#{variables.$prefix}input-border-width) / 2) -
        (var(--#{variables.$prefix}input-outline-width) / 2)
    );
    outline-color: var(--#{variables.$prefix}input-color-outline);
    outline-width: var(--#{variables.$prefix}input-outline-width);
  }
  &[disabled],
  fieldset[disabled],
  &.is-disabled {
    background-color: var(--#{variables.$prefix}input-disabled-color-back);
    border-color: var(--#{variables.$prefix}input-disabled-color-border);
    color: var(--#{variables.$prefix}input-disabled-color-fore);
  }
  @if (variables.$output-color-class) {
    @each $color in variables.$colors {
      &.is-#{$color} {
        --#{variables.$prefix}input-color-fore: var(
          --#{variables.$prefix}color-#{$color}-input-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}input-color-back: var(
          --#{variables.$prefix}color-#{$color}-input-back,
          var(--#{variables.$prefix}color-#{$color}-back)
        );
        --#{variables.$prefix}input-color-border: var(
          --#{variables.$prefix}color-#{$color}-input-border,
          var(--#{variables.$prefix}color-#{$color}-border)
        );
        --#{variables.$prefix}input-color-placeholder: var(
          --#{variables.$prefix}color-#{$color}-input-placeholder,
          var(--#{variables.$prefix}color-#{$color}-placeholder)
        );
        --#{variables.$prefix}input-color-outline: var(
          --#{variables.$prefix}color-#{$color}-input-outline,
          var(--#{variables.$prefix}color-#{$color}-outline)
        );

        --#{variables.$prefix}input-focus-color-fore: var(
          --#{variables.$prefix}color-#{$color}-input-focus-fore,
          var(--#{variables.$prefix}color-#{$color}-focus-fore)
        );
        --#{variables.$prefix}input-focus-color-back: var(
          --#{variables.$prefix}color-#{$color}-input-focus-back,
          var(--#{variables.$prefix}color-#{$color}-focus-back)
        );
        --#{variables.$prefix}input-focus-color-border: var(
          --#{variables.$prefix}color-#{$color}-input-focus-border,
          var(--#{variables.$prefix}color-#{$color}-focus-border)
        );
        --#{variables.$prefix}input-disabled-color-fore: var(
          --#{variables.$prefix}color-#{$color}-input-disabled-fore,
          var(--#{variables.$prefix}color-#{$color}-disabled-fore)
        );
        --#{variables.$prefix}input-disabled-color-back: var(
          --#{variables.$prefix}color-#{$color}-input-disabled-back,
          var(--#{variables.$prefix}color-#{$color}-disabled-back)
        );
        --#{variables.$prefix}input-disabled-color-border: var(
          --#{variables.$prefix}color-#{$color}-input-disabled-border,
          var(--#{variables.$prefix}color-#{$color}-disabled-border)
        );
      }
    }
  }

  &[type="color"] {
    @extend .input-color;
  }
  &[type="checkbox"] {
    @extend .input-checkbox;
  }
  &[type="radio"] {
    @extend .input-radio;
  }
  &[type="range"] {
    @extend .input-range;
  }
}

textarea {
  &.input {
    min-height: min-content;
    max-width: 100%;
    width: 100%;
    field-sizing: content;
  }
}
