@use "../mixins/index.scss" as mixins;
@use "../variables/index.scss" as variables;

/// @group components
:where(.link) {
  --#{variables.$prefix}link-color-fore: var(
    --#{variables.$prefix}color-default-link-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}link-hover-color-fore: var(
    --#{variables.$prefix}color-default-link-hover-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}link-visited-color-fore: var(
    --#{variables.$prefix}color-default-link-visited-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}link-selection-color-fore: var(
    --#{variables.$prefix}color-default-link-selection-fore,
    var(--#{variables.$prefix}color-default-selection-fore)
  );
  --#{variables.$prefix}link-selection-color-back: var(
    --#{variables.$prefix}color-default-link-selection-back,
    var(--#{variables.$prefix}color-default-selection-back)
  );

  @include mixins.base();
  color: var(--#{variables.$prefix}link-color-fore);
  text-decoration: none;

  &::selection {
    color: var(--#{variables.$prefix}link-selection-color-fore);
    background-color: var(
      --#{variables.$prefix}link-selection-color-back
    );
  }

  &:hover {
    color: var(--#{variables.$prefix}link-hover-color-fore);
    text-decoration: underline;
  }
  &:visited {
    color: var(--#{variables.$prefix}link-visited-color-fore);
  }

  @if (variables.$output-color-class) {
    @each $color in variables.$colors {
      &.is-#{$color} {
        --#{variables.$prefix}link-color-fore: var(
          --#{variables.$prefix}color-#{$color}-link-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}link-hover-color-fore: var(
          --#{variables.$prefix}color-#{$color}-link-hover-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}link-visited-color-fore: var(
          --#{variables.$prefix}color-#{$color}-link-visited-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}link-selection-color-fore: var(
          --#{variables.$prefix}color-#{$color}-link-selection-fore,
          var(--#{variables.$prefix}color-#{$color}-selection-fore)
        );
        --#{variables.$prefix}link-selection-color-back: var(
          --#{variables.$prefix}color-#{$color}-link-selection-back,
          var(--#{variables.$prefix}color-#{$color}-selection-back)
        );
      }
    }
  }
}
