@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

@mixin nav-brand() {
  > .nav-brand {
    @include mixins.base();
    display: flex;
    > .nav-brand-left,
    > .nav-brand-center,
    > .nav-brand-right,
    > .left,
    > .center,
    > .right {
      @include mixins.base();
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      margin: auto;
      position: relative;
    }
    > .nav-brand-left,
    > .left {
      margin: auto auto auto 0;
      text-align: left;
    }
    > .nav-brand-center,
    > .center {
      margin: auto;
      text-align: center;
    }
    > .nav-brand-right,
    > .right {
      margin: auto 0 auto auto;
      text-align: right;
    }
  }
}

.nav {
  min-height: 4rem;
  padding: 0.25rem 0;
  > .nav-static {
    @include mixins.base();
    @include mixins.add-responsible-visible() {
      display: flex;
      > .nav-brand {
        @include mixins.base();
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
        > .nav-brand-left,
        > .nav-brand-center,
        > .nav-brand-right,
        > .left,
        > .center,
        > .right {
          @include mixins.base();
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          max-width: 100%;
          margin: auto;
          position: relative;
        }
        > .nav-brand-left,
        > .left {
          margin: auto auto auto 0;
          text-align: left;
          flex-basis: 30%;
          max-width: 30%;
          width: 30%;
        }
        > .nav-brand-center,
        > .center {
          margin: auto;
          text-align: center;
          flex-basis: 40%;
          max-width: 40%;
          width: 40%;
        }
        > .nav-brand-right,
        > .right {
          margin: auto 0 auto auto;
          text-align: right;
        }
      }
      .nav-menu {
        @include mixins.base();
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
        > .nav-menu-item {
          @include mixins.base();
          cursor: pointer;
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          line-height: 1.5;
          margin: 0.25em;
          max-width: 100%;
          padding: 0.5rem;
          position: relative;
          text-decoration: none;
          color: var(--#{variables.$prefix}color-default-fore);
          text-shadow: 2px 2px 1px
              var(--#{variables.$prefix}color-default-shadow),
            -2px 2px 1px var(--#{variables.$prefix}color-default-shadow),
            2px -2px 1px var(--#{variables.$prefix}color-default-shadow),
            -2px -2px 1px var(--#{variables.$prefix}color-default-shadow),
            2px 0px 1px var(--#{variables.$prefix}color-default-shadow),
            0px 2px 1px var(--#{variables.$prefix}color-default-shadow),
            -2px 0px 1px var(--#{variables.$prefix}color-default-shadow),
            0px -2px 1px var(--#{variables.$prefix}color-default-shadow);
          > .icon {
            filter: drop-shadow(
                2px 2px 1px var(--#{variables.$prefix}color-default-shadow)
              )
              drop-shadow(
                -2px 2px 1px var(--#{variables.$prefix}color-default-shadow)
              )
              drop-shadow(
                2px -2px 1px var(--#{variables.$prefix}color-default-shadow)
              )
              drop-shadow(
                -2px -2px 1px var(--#{variables.$prefix}color-default-shadow)
              );
          }
          &:hover {
            color: var(--#{variables.$prefix}color-default-fore-hover);
            text-shadow: 2px 2px 1px
                var(--#{variables.$prefix}color-default-hover-shadow),
              -2px 2px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              2px -2px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              -2px -2px 1px
                var(--#{variables.$prefix}color-default-hover-shadow),
              2px 0px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              0px 2px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              -2px 0px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              0px -2px 1px var(--#{variables.$prefix}color-default-hover-shadow);
            opacity: 0.8;
            > .icon {
              filter: drop-shadow(
                  2px 2px 1px
                    var(--#{variables.$prefix}color-default-hover-shadow)
                )
                drop-shadow(
                  -2px 2px 1px var(--#{variables.$prefix}color-default-hover-shadow)
                )
                drop-shadow(
                  2px -2px 1px var(--#{variables.$prefix}color-default-hover-shadow)
                )
                drop-shadow(
                  -2px -2px 1px
                    var(--#{variables.$prefix}color-default-hover-shadow)
                );
            }
          }
          &:active {
            color: var(--#{variables.$prefix}color-default-fore-active);
            text-shadow: 2px 2px 1px
                var(--#{variables.$prefix}color-default-active-shadow),
              -2px 2px 1px var(--#{variables.$prefix}color-default-active-shadow),
              2px -2px 1px var(--#{variables.$prefix}color-default-active-shadow),
              -2px -2px 1px
                var(--#{variables.$prefix}color-default-active-shadow),
              2px 0px 1px var(--#{variables.$prefix}color-default-active-shadow),
              0px 2px 1px var(--#{variables.$prefix}color-default-active-shadow),
              -2px 0px 1px var(--#{variables.$prefix}color-default-active-shadow),
              0px -2px 1px var(--#{variables.$prefix}color-default-active-shadow);
            > .icon {
              filter: drop-shadow(
                  2px 2px 1px
                    var(--#{variables.$prefix}color-default-active-shadow)
                )
                drop-shadow(
                  -2px 2px 1px var(--#{variables.$prefix}color-default-active-shadow)
                )
                drop-shadow(
                  2px -2px 1px var(--#{variables.$prefix}color-default-active-shadow)
                )
                drop-shadow(
                  -2px -2px 1px
                    var(--#{variables.$prefix}color-default-active-shadow)
                );
            }
          }
        }
      }
    }
  }
  > .nav-accordion {
    @include mixins.base();
    @include mixins.add-responsible-visible() {
      display: block;
      @include nav-brand();
      > .nav-menu {
        @include mixins.base();
        display: none;
        padding: 0.5rem;
        &.is-active {
          display: block;
        }
        > .nav-menu-item {
          @include mixins.base();
          color: var(--#{variables.$prefix}color-default-fore);
          width: 100%;
          display: block;
          cursor: pointer;
          line-height: 1.5;
          margin: 0.25em 0;
          max-width: 100%;
          padding: 0.5rem;
          position: relative;
          text-decoration: none;
          text-shadow: 2px 2px 1px
              var(--#{variables.$prefix}color-default-shadow),
            -2px 2px 1px var(--#{variables.$prefix}color-default-shadow),
            2px -2px 1px var(--#{variables.$prefix}color-default-shadow),
            -2px -2px 1px var(--#{variables.$prefix}color-default-shadow),
            2px 0px 1px var(--#{variables.$prefix}color-default-shadow),
            0px 2px 1px var(--#{variables.$prefix}color-default-shadow),
            -2px 0px 1px var(--#{variables.$prefix}color-default-shadow),
            0px -2px 1px var(--#{variables.$prefix}color-default-shadow);
          > .icon {
            filter: drop-shadow(
                2px 2px 1px var(--#{variables.$prefix}color-default-shadow)
              )
              drop-shadow(
                -2px 2px 1px var(--#{variables.$prefix}color-default-shadow)
              )
              drop-shadow(
                2px -2px 1px var(--#{variables.$prefix}color-default-shadow)
              )
              drop-shadow(
                -2px -2px 1px var(--#{variables.$prefix}color-default-shadow)
              );
          }
          &:hover {
            color: var(--#{variables.$prefix}color-default-fore-hover);
            text-shadow: 2px 2px 1px
                var(--#{variables.$prefix}color-default-hover-shadow),
              -2px 2px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              2px -2px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              -2px -2px 1px
                var(--#{variables.$prefix}color-default-hover-shadow),
              2px 0px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              0px 2px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              -2px 0px 1px var(--#{variables.$prefix}color-default-hover-shadow),
              0px -2px 1px var(--#{variables.$prefix}color-default-hover-shadow);
            > .icon {
              filter: drop-shadow(
                  2px 2px 1px
                    var(--#{variables.$prefix}color-default-hover-shadow)
                )
                drop-shadow(
                  -2px 2px 1px var(--#{variables.$prefix}color-default-hover-shadow)
                )
                drop-shadow(
                  2px -2px 1px var(--#{variables.$prefix}color-default-hover-shadow)
                )
                drop-shadow(
                  -2px -2px 1px
                    var(--#{variables.$prefix}color-default-hover-shadow)
                );
            }
          }
          &:active {
            color: var(--#{variables.$prefix}color-default-fore-active);
            text-shadow: 2px 2px 1px
                var(--#{variables.$prefix}color-default-active-shadow),
              -2px 2px 1px var(--#{variables.$prefix}color-default-active-shadow),
              2px -2px 1px var(--#{variables.$prefix}color-default-active-shadow),
              -2px -2px 1px
                var(--#{variables.$prefix}color-default-active-shadow),
              2px 0px 1px var(--#{variables.$prefix}color-default-active-shadow),
              0px 2px 1px var(--#{variables.$prefix}color-default-active-shadow),
              -2px 0px 1px var(--#{variables.$prefix}color-default-active-shadow),
              0px -2px 1px var(--#{variables.$prefix}color-default-active-shadow);
            > .icon {
              filter: drop-shadow(
                  2px 2px 1px
                    var(--#{variables.$prefix}color-default-active-shadow)
                )
                drop-shadow(
                  -2px 2px 1px var(--#{variables.$prefix}color-default-active-shadow)
                )
                drop-shadow(
                  2px -2px 1px var(--#{variables.$prefix}color-default-active-shadow)
                )
                drop-shadow(
                  -2px -2px 1px
                    var(--#{variables.$prefix}color-default-active-shadow)
                );
            }
          }
        }
      }
    }
  }

  @each $color in variables.$colors {
    &.is-#{$color} {
      color: var(--#{variables.$prefix}color-#{$color}-fore);
      > .nav-accordion {
        > .nav-menu {
          > .nav-menu-item {
            color: var(--#{variables.$prefix}color-#{$color}-fore);
            text-shadow: 2px
                2px
                1px
                var(--#{variables.$prefix}color-#{$color}-shadow),
              -2px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              2px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              -2px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              2px 0px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              0px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              -2px 0px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              0px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow);
            > .icon {
              filter: drop-shadow(
                  2px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow)
                )
                drop-shadow(
                  -2px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow)
                )
                drop-shadow(
                  2px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow)
                )
                drop-shadow(
                  -2px -2px
                    1px
                    var(--#{variables.$prefix}color-#{$color}-shadow)
                );
            }
            &:hover {
              color: var(--#{variables.$prefix}color-#{$color}-fore-hover);
              text-shadow: 2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                -2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                -2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                0px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                -2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                0px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow);
              opacity: 0.8;
              > .icon {
                filter: drop-shadow(
                    2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  )
                  drop-shadow(
                    -2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  )
                  drop-shadow(
                    2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  )
                  drop-shadow(
                    -2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  );
              }
            }
            &:active {
              color: var(--#{variables.$prefix}color-#{$color}-fore-active);
              text-shadow: 2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                -2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                -2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                0px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                -2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                0px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow);
              > .icon {
                filter: drop-shadow(
                    2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  )
                  drop-shadow(
                    -2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  )
                  drop-shadow(
                    2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  )
                  drop-shadow(
                    -2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  );
              }
            }
          }
        }
      }

      > .nav-static {
        > .nav-menu {
          > .nav-menu-item {
            color: var(--#{variables.$prefix}color-#{$color}-fore);
            text-shadow: 2px
                2px
                1px
                var(--#{variables.$prefix}color-#{$color}-shadow),
              -2px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              2px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              -2px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              2px 0px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              0px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              -2px 0px 1px var(--#{variables.$prefix}color-#{$color}-shadow),
              0px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow);
            > .icon {
              filter: drop-shadow(
                  2px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow)
                )
                drop-shadow(
                  -2px 2px 1px var(--#{variables.$prefix}color-#{$color}-shadow)
                )
                drop-shadow(
                  2px -2px 1px var(--#{variables.$prefix}color-#{$color}-shadow)
                )
                drop-shadow(
                  -2px -2px
                    1px
                    var(--#{variables.$prefix}color-#{$color}-shadow)
                );
            }
            &:hover {
              color: var(--#{variables.$prefix}color-#{$color}-fore-hover);
              text-shadow: 2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                -2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                -2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                0px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                -2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow),
                0px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-hover-shadow);
              opacity: 0.8;
              > .icon {
                filter: drop-shadow(
                    2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  )
                  drop-shadow(
                    -2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  )
                  drop-shadow(
                    2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  )
                  drop-shadow(
                    -2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-hover-shadow)
                  );
              }
            }
            &:active {
              color: var(--#{variables.$prefix}color-#{$color}-fore-active);
              text-shadow: 2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                -2px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                -2px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                0px
                  2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                -2px
                  0px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow),
                0px -2px
                  1px
                  var(--#{variables.$prefix}color-#{$color}-active-shadow);
              > .icon {
                filter: drop-shadow(
                    2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  )
                  drop-shadow(
                    -2px
                      2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  )
                  drop-shadow(
                    2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  )
                  drop-shadow(
                    -2px -2px
                      1px
                      var(--#{variables.$prefix}color-#{$color}-active-shadow)
                  );
              }
            }
          }
        }
      }
    }
  }
}
