@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

@mixin nav-brand() {
  > .nav-brand {
    @include mixins.base();
    display: flex;
    > .nav-brand-left,
    > .nav-brand-center,
    > .nav-brand-right,
    > .left,
    > .center,
    > .right {
      @include mixins.base();
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 100%;
      margin: auto;
      position: relative;
    }
    > .nav-brand-left,
    > .left {
      margin: auto auto auto 0;
      text-align: left;
    }
    > .nav-brand-center,
    > .center {
      margin: auto;
      text-align: center;
    }
    > .nav-brand-right,
    > .right {
      margin: auto 0 auto auto;
      text-align: right;
    }
  }
}

@mixin nav-menu-item() {
  @include mixins.base();
  cursor: pointer;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1.5;
  margin: 0.25em;
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  color: var(--#{variables.$prefix}nav-menu-item-color-fore);
  text-shadow:
    2px 2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    -2px 2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    2px -2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    -2px -2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    2px 0px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    0px 2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    -2px 0px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow),
    0px -2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow);
  > .nav-menu-item-icon {
    filter: drop-shadow(
        2px 2px 1px var(--#{variables.$prefix}nav-menu-item-icon-color-shadow)
      )
      drop-shadow(
        -2px 2px 1px var(--#{variables.$prefix}nav-menu-item-icon-color-shadow)
      )
      drop-shadow(
        2px -2px 1px var(--#{variables.$prefix}nav-menu-item-icon-color-shadow)
      )
      drop-shadow(
        -2px -2px 1px var(--#{variables.$prefix}nav-menu-item-icon-color-shadow)
      );
  }
  &:hover {
    color: var(--#{variables.$prefix}nav-menu-item-hover-color-fore);
    text-shadow:
      2px 2px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      -2px 2px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      2px -2px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      -2px -2px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      2px 0px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      0px 2px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      -2px 0px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow),
      0px -2px 1px var(--#{variables.$prefix}nav-menu-item-hover-color-shadow);
    opacity: 0.8;
    > .nav-menu-item-icon {
      filter: drop-shadow(
          2px 2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-hover-color-shadow)
        )
        drop-shadow(
          -2px 2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-hover-color-shadow)
        )
        drop-shadow(
          2px -2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-hover-color-shadow)
        )
        drop-shadow(
          -2px -2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-hover-color-shadow)
        );
    }
  }
  &:active {
    color: var(--#{variables.$prefix}nav-menu-item-active-color-fore);
    text-shadow:
      2px 2px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      -2px 2px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      2px -2px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      -2px -2px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      2px 0px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      0px 2px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      -2px 0px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow),
      0px -2px 1px var(--#{variables.$prefix}nav-menu-item-active-color-shadow);
    opacity: 0.8;
    > .nav-menu-item-icon {
      filter: drop-shadow(
          2px 2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-active-color-shadow)
        )
        drop-shadow(
          -2px 2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-active-color-shadow)
        )
        drop-shadow(
          2px -2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-active-color-shadow)
        )
        drop-shadow(
          -2px -2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-active-color-shadow)
        );
    }
  }
  &[disabled],
  fieldset[disabled] {
    color: var(--#{variables.$prefix}nav-menu-item-disabled-color-fore);
    text-shadow:
      2px 2px 1px var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      -2px 2px 1px
        var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      2px -2px 1px
        var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      -2px -2px 1px
        var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      2px 0px 1px var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      0px 2px 1px var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      -2px 0px 1px
        var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow),
      0px -2px 1px
        var(--#{variables.$prefix}nav-menu-item-disabled-color-shadow);
    opacity: 0.8;
    > .nav-menu-item-icon {
      filter: drop-shadow(
          2px 2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-disabled-color-shadow)
        )
        drop-shadow(
          -2px 2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-disabled-color-shadow)
        )
        drop-shadow(
          2px -2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-disabled-color-shadow)
        )
        drop-shadow(
          -2px -2px 1px
            var(--#{variables.$prefix}nav-menu-item-icon-disabled-color-shadow)
        );
    }
  }
}

/// @group components
:where(.nav) {
  --#{variables.$prefix}nav-color-fore: var(
    --#{variables.$prefix}color-default-nav-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-icon-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-icon-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );

  --#{variables.$prefix}nav-menu-item-hover-color-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-hover-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-hover-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-hover-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-icon-hover-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-icon-hover-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-active-color-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-active-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-active-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-active-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-icon-active-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-icon-active-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-disabled-color-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-disabled-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-disabled-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-disabled-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-icon-disabled-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-icon-disabled-shadow,
    var(--#{variables.$prefix}color-default-fore)
  );

  min-height: 4rem;
  padding: 0.25rem 0;
  color: var(--#{variables.$prefix}nav-color-fore);
  > .nav-static {
    @include mixins.base();
    @include mixins.add-responsible-visible() {
      display: flex;
      > .nav-brand {
        @include mixins.base();
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
        > .nav-brand-left,
        > .nav-brand-center,
        > .nav-brand-right,
        > .left,
        > .center,
        > .right {
          @include mixins.base();
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          max-width: 100%;
          margin: auto;
          position: relative;
        }
        > .nav-brand-left,
        > .left {
          margin: auto auto auto 0;
          text-align: left;
          flex-basis: 30%;
          max-width: 30%;
          width: 30%;
        }
        > .nav-brand-center,
        > .center {
          margin: auto;
          text-align: center;
          flex-basis: 40%;
          max-width: 40%;
          width: 40%;
        }
        > .nav-brand-right,
        > .right {
          margin: auto 0 auto auto;
          text-align: right;
        }
      }
      .nav-menu {
        @include mixins.base();
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
        > .nav-menu-item {
          @include nav-menu-item();
        }
      }
    }
  }
  > .nav-accordion {
    @include mixins.base();
    @include mixins.add-responsible-visible() {
      display: block;
      @include nav-brand();
      > .nav-menu {
        @include mixins.base();
        display: none;
        padding: 0.5rem;
        &.is-active {
          display: block;
        }
        > .nav-menu-item {
          @include nav-menu-item();
        }
      }
    }
  }

  @if (variables.$output-color-class) {
    @each $color in variables.$colors {
      &.is-#{$color} {
        --#{variables.$prefix}nav-color-fore: var(
          --#{variables.$prefix}color-#{$color}-nav-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-fore: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-icon-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-icon-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );

        --#{variables.$prefix}nav-menu-item-hover-color-fore: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-hover-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-hover-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-hover-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-icon-hover-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-icon-hover-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-active-color-fore: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-active-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-active-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-active-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-icon-active-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-icon-active-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-disabled-color-fore: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-disabled-fore,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-disabled-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-disabled-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
        --#{variables.$prefix}nav-menu-item-icon-disabled-color-shadow: var(
          --#{variables.$prefix}color-#{$color}-nav-menu-item-icon-disabled-shadow,
          var(--#{variables.$prefix}color-#{$color}-fore)
        );
      }
    }
  }
}
