@use "../mixins/index.scss" as mixins;
@use "../variables/index.scss" as variables;

.tile {
  @include mixins.base();
  position: relative;
  min-height: 25rem;
  width: 100%;
  .tile-header {
    @include mixins.base();
    position: absolute;
    display: block;
    top: 25%;
    left: 0;
    min-height: 12.5rem;
    width: 50%;
    z-index: 2;
    opacity: 90%;
    @include mixins.mobile() {
      width: 100%;
      top: 0;
    }
    @include mixins.tablet() {
      width: 100%;
      top: 0;
    }
    .tile-title {
      @include mixins.base();
      text-align: left;
      vertical-align: middle;
      color: var(--#{variables.$prefix}color-default-fore);
      font-size: var(--#{variables.$prefix}font-size-medium);
      font-weight: var(--#{variables.$prefix}font-weight-semibold);
      text-decoration: none !important;
      position: absolute;
      top: 35%;
      left: 0;
      margin: 1rem;
    }
  }
  .tile-image {
    @include mixins.base();
    z-index: 1;
    inset: 0;
    display: block;
    margin: auto;
  }
}
