@use "sass:map";
@use "sass:string";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;
@use "../functions/index.scss" as functions;

@mixin setColor(
  $colorShade,
  $lightnessOffset,
  $srcColorName,
  $destColorName,
  $pseudoClassName,
  $componentName: ""
) {
  $destPseudoClassName: "";
  @if ($pseudoClassName != "plain") {
    $destPseudoClassName: "-#{$pseudoClassName}";
  }

  $component: "";
  @if ($componentName != "") {
    $component: "-#{$componentName}";
  }

  $fore: map.get($colorShade, "fore");
  @if ($fore != null) {
    $light: map.get($fore, "light");
    $dark: map.get($fore, "dark");
    @if ($light != null and $dark != null) {
      $lightStr: functions.lightnessNumberToString($light + $lightnessOffset);
      $darkStr: functions.lightnessNumberToString($dark + $lightnessOffset);
      --#{variables.$prefix}color-#{$destColorName}#{$component}#{$destPseudoClassName}-fore: light-dark(
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$lightStr}),
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$darkStr})
      );
    }
  }

  $back: map.get($colorShade, "back");
  @if ($back != null) {
    $light: map.get($back, "light");
    $dark: map.get($back, "dark");
    @if ($light != null and $dark != null) {
      $lightStr: functions.lightnessNumberToString($light + $lightnessOffset);
      $darkStr: functions.lightnessNumberToString($dark + $lightnessOffset);
      --#{variables.$prefix}color-#{$destColorName}#{$component}#{$destPseudoClassName}-back: light-dark(
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$lightStr}),
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$darkStr})
      );
    }
  }

  $border: map.get($colorShade, "border");
  @if ($border != null) {
    $light: map.get($border, "light");
    $dark: map.get($border, "dark");
    @if ($light != null and $dark != null) {
      $lightStr: functions.lightnessNumberToString($light + $lightnessOffset);
      $darkStr: functions.lightnessNumberToString($dark + $lightnessOffset);
      --#{variables.$prefix}color-#{$destColorName}#{$component}#{$destPseudoClassName}-border: light-dark(
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$lightStr}),
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$darkStr})
      );
    }
  }

  $placeholder: map.get($colorShade, "placeholder");
  @if ($placeholder != null) {
    $light: map.get($placeholder, "light");
    $dark: map.get($placeholder, "dark");
    @if ($light != null and $dark != null) {
      $lightStr: functions.lightnessNumberToString($light + $lightnessOffset);
      $darkStr: functions.lightnessNumberToString($dark + $lightnessOffset);
      --#{variables.$prefix}color-#{$destColorName}#{$component}#{$destPseudoClassName}-placeholder: light-dark(
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$lightStr}),
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$darkStr})
      );
    }
  }

  $shadow: map.get($colorShade, "shadow");
  @if ($shadow != null) {
    $light: map.get($shadow, "light");
    $dark: map.get($shadow, "dark");
    @if ($light != null and $dark != null) {
      $lightStr: functions.lightnessNumberToString($light + $lightnessOffset);
      $darkStr: functions.lightnessNumberToString($dark + $lightnessOffset);
      --#{variables.$prefix}color-#{$destColorName}#{$component}#{$destPseudoClassName}-shadow: light-dark(
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$lightStr}),
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$darkStr})
      );
    }
  }

  $outline: map.get($colorShade, "outline");
  @if ($outline != null) {
    $light: map.get($outline, "light");
    $dark: map.get($outline, "dark");
    @if ($light != null and $dark != null) {
      $lightStr: functions.lightnessNumberToString($light + $lightnessOffset);
      $darkStr: functions.lightnessNumberToString($dark + $lightnessOffset);
      --#{variables.$prefix}color-#{$destColorName}#{$component}#{$destPseudoClassName}-outline: light-dark(
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$lightStr}),
        var(--#{variables.$prefix}color-#{$srcColorName}-#{$darkStr})
      );
    }
  }
}

@mixin setColorShade(
  $colorShade,
  $lightnessOffset,
  $srcColorName,
  $destColorName,
  $pseudoClassName
) {
  @include setColor(
    $colorShade,
    $lightnessOffset,
    $srcColorName,
    $destColorName,
    $pseudoClassName
  );

  $selection: map.get($colorShade, "selection");
  @if ($selection != null) {
    @include setColor(
      $selection,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "selection"
    );
  }

  //#region backgrounds

  //#region dot
  $dot: map.get($colorShade, "dot");
  @if ($dot != null) {
    @include setColor(
      $dot,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "dot"
    );
  }
  //#endregion dot

  //#region gingham
  $gingham: map.get($colorShade, "gingham");
  @if ($gingham != null) {
    @include setColor(
      $gingham,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "gingham"
    );
  }
  //#endregion gingham

  //#region stripe
  $stripe: map.get($colorShade, "stripe");
  @if ($stripe != null) {
    @include setColor(
      $stripe,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "stripe"
    );
  }
  //#endregion stripe

  //#endregion backgrounds

  //#region components

  //#region accordion
  $accordion: map.get($colorShade, "accordion");
  @if ($accordion != null) {
    @include setColor(
      $accordion,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "accordion"
    );

    $accordionSummary: map.get($accordion, "accordionSummary");
    @if ($accordionSummary != null) {
      @include setColor(
        $accordionSummary,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "accordion-summary"
      );
    }

    $accordionDetails: map.get($accordion, "accordionDetails");
    @if ($accordionDetails != null) {
      @include setColor(
        $accordionDetails,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "accordion-details"
      );
    }
  }
  //#endregion accordion

  //#region admin-nav
  $adminNav: map.get($colorShade, "adminNav");
  @if ($adminNav != null) {
    @include setColor(
      $adminNav,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "admin-nav"
    );
    $adminNavBrand: map.get($adminNav, "adminNavBrand");
    @if ($adminNavBrand != null) {
      @include setColor(
        $adminNavBrand,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "admin-nav-brand"
      );
    }
    $adminNavMenu: map.get($adminNav, "adminNavMenu");
    @if ($adminNavMenu != null) {
      @include setColor(
        $adminNavMenu,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "admin-nav-menu"
      );
      $adminNavMenuItem: map.get($adminNavMenu, "adminNavMenuItem");
      @if ($adminNavMenuItem != null) {
        @include setColor(
          $adminNavMenuItem,
          $lightnessOffset,
          $srcColorName,
          $destColorName,
          $pseudoClassName,
          "admin-nav-menu-item"
        );
      }
    }
  }
  //#endregion admin-nav

  //#region badge
  $badge: map.get($colorShade, "badge");
  @if ($badge != null) {
    @include setColor(
      $badge,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "badge"
    );
  }
  //#endregion badge

  //#region blockquote
  $blockquote: map.get($colorShade, "blockquote");
  @if ($blockquote != null) {
    @include setColor(
      $blockquote,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "blockquote"
    );
  }
  //#endregion blockquote

  //#region breadcrumb
  $breadcrumb: map.get($colorShade, "breadcrumb");
  @if ($breadcrumb != null) {
    @include setColor(
      $breadcrumb,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "breadcrumb"
    );

    $breadcrumbItem: map.get($breadcrumb, "breadcrumbItem");
    @if ($breadcrumbItem != null) {
      @include setColor(
        $breadcrumbItem,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "breadcrumb-item"
      );
    }
    $breadcrumbDivider: map.get($breadcrumb, "breadcrumbDivider");
    @if ($breadcrumbDivider != null) {
      @include setColor(
        $breadcrumbDivider,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "breadcrumb-divider"
      );
    }
  }
  //#endregion breadcrumb

  //#region button
  $button: map.get($colorShade, "button");
  @if ($button != null) {
    @include setColor(
      $button,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "button"
    );
  }
  //#endregion button

  //#region card
  $card: map.get($colorShade, "card");
  @if ($card != null) {
    @include setColor(
      $card,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "card"
    );

    $cardHeader: map.get($card, "cardHeader");
    @if ($cardHeader != null) {
      @include setColor(
        $cardHeader,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "card-header"
      );
    }

    $cardBody: map.get($card, "cardBody");
    @if ($cardBody != null) {
      @include setColor(
        $cardBody,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "card-body"
      );
    }

    $cardFooter: map.get($card, "cardFooter");
    @if ($cardFooter != null) {
      @include setColor(
        $cardFooter,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "card-footer"
      );
    }
  }
  //#endregion card

  //#region footer
  $footer: map.get($colorShade, "footer");
  @if ($footer != null) {
    @include setColor(
      $footer,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "footer"
    );
  }
  //#endregion footer

  //#region header
  $header: map.get($colorShade, "header");
  @if ($header != null) {
    @include setColor(
      $header,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "header"
    );
  }
  //#endregion header

  //#region input
  $input: map.get($colorShade, "input");
  @if ($input != null) {
    @include setColor(
      $input,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "input"
    );
  }
  //#endregion input

  //#region label
  $label: map.get($colorShade, "label");
  @if ($label != null) {
    @include setColor(
      $label,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "label"
    );
  }
  //#endregion label

  //#region link
  $link: map.get($colorShade, "link");
  @if ($link != null) {
    @include setColor(
      $link,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "link"
    );
  }
  //#endregion link

  //#region list
  $list: map.get($colorShade, "list");
  @if ($list != null) {
    @include setColor(
      $list,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "list"
    );
  }
  //#endregion list

  //#region loader
  $loader: map.get($colorShade, "loader");
  @if ($loader != null) {
    @include setColor(
      $loader,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "loader"
    );
  }
  //#endregion loader

  //#region main
  $main: map.get($colorShade, "main");
  @if ($main != null) {
    @include setColor(
      $main,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "main"
    );
  }
  //#endregion main

  //#region message
  $message: map.get($colorShade, "message");
  @if ($message != null) {
    @include setColor(
      $message,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "message"
    );

    $messageHeader: map.get($message, "messageHeader");
    @if ($messageHeader != null) {
      @include setColor(
        $messageHeader,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "message-header"
      );
    }

    $messageBody: map.get($message, "messageBody");
    @if ($messageBody != null) {
      @include setColor(
        $messageBody,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "message-body"
      );
    }
  }
  //#endregion message

  //#region nav
  $nav: map.get($colorShade, "nav");
  @if ($nav != null) {
    @include setColor(
      $nav,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "nav"
    );
    $navMenu: map.get($nav, "navMenu");
    @if ($navMenu != null) {
      @include setColor(
        $navMenu,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "nav-menu"
      );
      $navMenuItem: map.get($navMenu, "navMenuItem");
      @if ($navMenuItem != null) {
        @include setColor(
          $navMenuItem,
          $lightnessOffset,
          $srcColorName,
          $destColorName,
          $pseudoClassName,
          "nav-menu-item"
        );
      }
    }
  }
  //#endregion nav

  //#region progress
  $progress: map.get($colorShade, "progress");
  @if ($progress != null) {
    @include setColor(
      $progress,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "progress"
    );
  }
  //#endregion progress

  //#region speech-bubble
  $speechBubble: map.get($colorShade, "speechBubble");
  @if ($speechBubble != null) {
    @include setColor(
      $speechBubble,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "speech-bubble"
    );

    $speechBubbleAvatar: map.get($speechBubble, "speechBubbleAvatar");
    @if ($speechBubbleAvatar != null) {
      @include setColor(
        $speechBubbleAvatar,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "speech-bubble-avatar"
      );
    }

    $speechBubbleName: map.get($speechBubble, "speechBubbleName");
    @if ($speechBubbleName != null) {
      @include setColor(
        $speechBubbleName,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "speech-bubble-name"
      );
    }

    $speechBubbleMessage: map.get($speechBubble, "speechBubbleMessage");
    @if ($speechBubbleMessage != null) {
      @include setColor(
        $speechBubbleMessage,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "speech-bubble-message"
      );
    }
  }
  //#endregion speech-bubble

  //#region tile
  $tile: map.get($colorShade, "tile");
  @if ($tile != null) {
    @include setColor(
      $tile,
      $lightnessOffset,
      $srcColorName,
      $destColorName,
      $pseudoClassName,
      "tile"
    );

    $tileHeader: map.get($tile, "tileHeader");
    @if ($tileHeader != null) {
      @include setColor(
        $tileHeader,
        $lightnessOffset,
        $srcColorName,
        $destColorName,
        $pseudoClassName,
        "tile-header"
      );
      $tileHeaderText: map.get($tileHeader, "tileHeaderText");
      @if ($tileHeaderText != null) {
        @include setColor(
          $tileHeaderText,
          $lightnessOffset,
          $srcColorName,
          $destColorName,
          $pseudoClassName,
          "tile-header-text"
        );
      }
    }
  }
  //#endregion tile

  //#endregion components
}

@function getColorFromColors($colors, $colorName) {
  @each $color in variables.$colorsWithProperties {
    $name: map.get($color, "name");

    @if ($name == $colorName) {
      @return $color;
    }
  }

  @return null;
}

@mixin setColorShades($colorShades) {
  @each $colorShade in $colorShades {
    $pseudoClassName: map.get($colorShade, "name");

    @include setColorShade($colorShade, 0, "gray", "default", $pseudoClassName);

    @each $colorName in variables.$colors {
      @include setColorShade(
        $colorShade,
        0,
        $colorName,
        $colorName,
        $pseudoClassName
      );
    }

    @each $semanticColor in variables.$semanticColors {
      $semanticColorName: map.get($semanticColor, "name");
      $semanticColorColorName: map.get($semanticColor, "colorName");
      $semanticColorLightnessOffset: map.get(
        $semanticColor,
        "lightnessOffset"
      );
      $color: getColorFromColors(
        variables.$colors,
        $semanticColorColorName
      );
      @if ($color != null) {
        @include setColorShade(
          $colorShade,
          $semanticColorLightnessOffset,
          $semanticColorColorName,
          $semanticColorName,
          $pseudoClassName
        );
      }
    }
  }
}

@mixin setColorVariables($color) {
  $name: map.get($color, "name");
  $hue: map.get($color, "hue");

  $p: "0";
  @for $i from 1 through 19 {
    $p: "" + ($i * 50);
    @if (string.length($p) == 2) {
      $p: "0" + $p;
    }
    $chroma: var(--#{variables.$prefix}color-chroma-colorful-#{$p});

    @if ($name == "default" or $name == "gray") {
      $chroma: var(--#{variables.$prefix}color-chroma-gray);
    }

    $oklch: var(--#{variables.$prefix}color-lightness-#{$p})
      #{$chroma}
      var(--#{variables.$prefix}color-hue-#{$name});

    // NOTE: Declaring oklch individually would make the definition too large, so it's commented out.
    // --#{variables.$prefix}color-#{$name}-#{$p}-oklch: #{$oklch};
    // --#{variables.$prefix}color-#{$name}-#{$p}: oklch(var(--#{variables.$prefix}color-#{$name}-#{$p}-oklch));
    --#{variables.$prefix}color-#{$name}-#{$p}: oklch(#{$oklch});
  }
}

@mixin setColorLightnessCssVariables() {
  $steps: 18;
  $value-step: calc(
    (variables.$color-lightness-950 - variables.$color-lightness-050) / $steps
  );
  @for $i from 0 through $steps {
    $current-label: calc(50 + ($i * 50));

    $formatted-label: "#{$current-label}";

    @if ($current-label < 100) {
      $formatted-label: "0#{$current-label}";
    }

    $current-value: calc(variables.$color-lightness-050 + ($value-step * $i));

    --#{variables.$prefix}color-lightness-#{$formatted-label}: #{$current-value};
  }
}

@mixin setColorColorfulChromaCssVariables() {
  $p: "0";
  @for $i from 1 through 19 {
    $p: "" + ($i * 50);
    @if (string.length($p) == 2) {
      $p: "0" + $p;
    }
    $chroma: variables.$color-chroma-colorful-500;

    @if ($i < 10) {
      $chroma-offset: (10 - $i) *
        variables.$color-chroma-colorful-offset-darker;
      $chroma: variables.$color-chroma-colorful-500 + $chroma-offset;
    } @else if ($i > 10) {
      $chroma-offset: (10 - $i) *
        variables.$color-chroma-colorful-offset-lighter;
      $chroma: variables.$color-chroma-colorful-500 + $chroma-offset;
    }

    --#{variables.$prefix}color-chroma-colorful-#{$p}: #{$chroma};
  }
}

:where(:root) {
  color-scheme: light dark;

  $white-oklch: #{variables.$color-lightness-white}
    #{variables.$color-chroma-gray} #{variables.$color-hue-gray};
  --#{variables.$prefix}color-white-oklch: #{$white-oklch};
  --#{variables.$prefix}color-white: oklch(#{$white-oklch});

  $black-oklch: #{variables.$color-lightness-black}
    #{variables.$color-chroma-gray} #{variables.$color-hue-gray};
  --#{variables.$prefix}color-black-oklch: #{$black-oklch};
  --#{variables.$prefix}color-black: oklch(#{$black-oklch});

  --#{variables.$prefix}color-hue-gray: #{variables.$color-hue-gray};
  --#{variables.$prefix}color-hue-red: #{variables.$color-hue-red};
  --#{variables.$prefix}color-hue-coral: #{variables.$color-hue-coral};
  --#{variables.$prefix}color-hue-orange: #{variables.$color-hue-orange};
  --#{variables.$prefix}color-hue-yellow: #{variables.$color-hue-yellow};
  --#{variables.$prefix}color-hue-lime: #{variables.$color-hue-lime};
  --#{variables.$prefix}color-hue-green: #{variables.$color-hue-green};
  --#{variables.$prefix}color-hue-cyan: #{variables.$color-hue-cyan};
  --#{variables.$prefix}color-hue-blue: #{variables.$color-hue-blue};
  --#{variables.$prefix}color-hue-violet: #{variables.$color-hue-violet};
  --#{variables.$prefix}color-hue-magenta: #{variables.$color-hue-magenta};

  @include setColorLightnessCssVariables();

  --#{variables.$prefix}color-chroma-gray: #{variables.$color-chroma-gray};
  @include setColorColorfulChromaCssVariables();

  @each $color in variables.$colorsWithProperties {
    $name: map.get($color, "name");
    @include setColorVariables($color);
  }

  @include setColorShades(variables.$colorShades);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

[data-color-scheme="light"] {
  color-scheme: light;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}
