@use "sass:math";
@use "../mixins/index.scss" as mixins;
@use "../functions/index.scss" as functions;
@use "../variables/index.scss" as variables;

$columns-count: 12;

:where(.columns) {
  --#{variables.$prefix}columns-gutter-x: 0;
  --#{variables.$prefix}columns-gutter-y: 0;
  --#{variables.$prefix}columns-gutter-top: var(--#{variables.$prefix}columns-gutter-y);
  --#{variables.$prefix}columns-gutter-bottom: var(--#{variables.$prefix}columns-gutter-y);
  --#{variables.$prefix}columns-gutter-right: var(--#{variables.$prefix}columns-gutter-x);
  --#{variables.$prefix}columns-gutter-left: var(--#{variables.$prefix}columns-gutter-x);
  @include mixins.base();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: calc(var(--#{variables.$prefix}columns-gutter-top) * -0.5);
  margin-bottom: calc(var(--#{variables.$prefix}columns-gutter-bottom) * -0.5);
  margin-right: calc(var(--#{variables.$prefix}columns-gutter-right) * -0.5);
  margin-left: calc(var(--#{variables.$prefix}columns-gutter-left) * -0.5);
  &.is-direction-row {
    flex-direction: row;
  }
  &.is-direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.is-direction-column {
    flex-direction: column;
  }
  &.is-direction-column-reverse {
    flex-direction: column-reverse;
  }

  @include mixins.is-responsive("-direction-row") {
    flex-direction: row;
  }
  @include mixins.is-responsive("-direction-row-reverse") {
    flex-direction: row-reverse;
  }
  @include mixins.is-responsive("-direction-column") {
    flex-direction: column;
  }
  @include mixins.is-responsive("-direction-column-reverse") {
    flex-direction: column-reverse;
  }

  @for $p from 0 through 16 {
    $escapedQuarter: functions.strReplace(#{($p * 0.25)}, ".", "\\.");
    &.has-gutter-#{$escapedQuarter}rem {
      --#{variables.$prefix}columns-gutter-x: #{($p * 0.25rem)};
      --#{variables.$prefix}columns-gutter-y: #{($p * 0.25rem)};
    }
    &.has-gutter-x-#{$escapedQuarter}rem {
      --#{variables.$prefix}columns-gutter-x: #{($p * 0.25rem)};
    }
    &.has-gutter-y-#{$escapedQuarter}rem {
      --#{variables.$prefix}columns-gutter-y: #{($p * 0.25rem)};
    }
    @include mixins.is-responsive("-#{$escapedQuarter}rem", "has-gutter-") {
      --#{variables.$prefix}columns-gutter-x: #{($p * 0.25rem)};
      --#{variables.$prefix}columns-gutter-y: #{($p * 0.25rem)};
    }
    @include mixins.is-responsive("-#{$escapedQuarter}rem", "has-gutter-x") {
      --#{variables.$prefix}columns-gutter-x: #{($p * 0.25rem)};
    }
    @include mixins.is-responsive("-#{$escapedQuarter}rem", "has-gutter-y") {
      --#{variables.$prefix}columns-gutter-y: #{($p * 0.25rem)};
    }
  }

  :where(.column) {
    @include mixins.column();
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    &.is-full {
      flex: none;
      max-width: 100%;
      width: 100%;
    }
  }
  @for $num from 1 through $columns-count {
    :where(.column-#{$num}) {
      @include mixins.column();
      flex-basis: math.percentage(math.div($num, $columns-count));
      max-width: math.percentage(math.div($num, $columns-count));
      width: math.percentage(math.div($num, $columns-count));
    }
  }
  :where(.column),
  [class^="column-"] {
    @for $num from 1 through $columns-count {
      @include mixins.is-responsive("-" + $num) {
        flex-basis: math.percentage(math.div($num, $columns-count));
        max-width: math.percentage(math.div($num, $columns-count));
        width: math.percentage(math.div($num, $columns-count));
      }
    }
  }
}
