$dialog-avatar-size-default: 4rem !default;
$dialog-avatar-size-small: 3rem !default;
$dialog-avatar-size-large: 5rem !default;
$dialog-avatar-top-offset: 1rem !default;
$dialog-name-font-size: 1rem !default;
$dialog-name-padding-x: 1rem !default;
$dialog-name-padding-y: 0.5rem !default;
$dialog-messege-arrow-width: 1rem !default;
$dialog-messege-arrow-height: 1rem !default;
$dialog-message-inner-padding-x: 1rem !default;
$dialog-message-inner-padding-y: 1rem !default;
