$speech-bubble-avatar-size-default: 4rem !default;
$speech-bubble-avatar-size-small: 3rem !default;
$speech-bubble-avatar-size-large: 5rem !default;
$speech-bubble-avatar-top-offset: 1rem !default;
$speech-bubble-name-font-size: 1rem !default;
$speech-bubble-name-padding-x: 1rem !default;
$speech-bubble-name-padding-y: 0.5rem !default;
$speech-bubble-message-arrow-width: 1rem !default;
$speech-bubble-message-arrow-height: 1rem !default;
$speech-bubble-message-inner-padding-x: 1rem !default;
$speech-bubble-message-inner-padding-y: 1rem !default;
